<h1>My Blogs</h1>
<% @blog_posts.each do |blog_post|%>
    <div>
        <h2><%= link_to blog_post.title, blog_post %></h2>
        <% if blog_post.draft? %>
            <div class="p-2 rounded bg-orange-100 text-orange-900">In Draft</div>
        <% elsif blog_post.publish? %>
            <div class="p-2 rounded bg-green-100 text-green-900">Published</div>
        <% elsif blog_post.schedule? %>
            <div class="p-2 rounded bg-blue-100 text-blue-900">Scheduled</div>
        <% end %>
        <%= blog_post.content %>
        <%= blog_post.published_at %>
    </div>
<% end %>

<div class="my-16">
    <%== pagy_nav(@pagy) %>
</div>




